  .btn {
    padding: 10px 24px;
    font-weight: bold;
    text-transform: initial;
    box-shadow: 2px 2px 0px 0px #000000;
    a {
        text-transform: inherit !important;
        color: inherit !important;
    }
    &.primary {
        background-color: color(primary, base);
        border: 2px black solid;
        color: white;
        &:hover {
          background-color: color(primary, light);
          color: black;
        }
    }
    &.secondary {
        color: color(primary, base);
        background-color: white;
        border: 2px color(primary, base) solid;
        &:hover {
          background-color: color(primary, base);
          color: white;
        }
    }  
    &.helper {
      color: black;
      background-color: color(secondary, base);
      border: 2px black solid;
      &:hover {
        background-color: white;
        color: color(primary, base)
      }
    }   
  }

.title {
  color: color(primary, base);
  font-weight: bold;
  @include toRem(font-size, 20);
}

.img-fluid {
  max-width: 100%;
}

.slide-nav {
  margin-bottom: 24px;
  > * {
      &:not(:last-child) {
          margin-right: 4px;
      }
  }
  button {
      color: color(primary, base);
      @include toRem(font-size, 14);
      background-color: white;
      border: 2px black solid;
      box-shadow: 2px 2px 0px 0px #000000;
      height: 24px;
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      &[class*="prev"] {
        [class*="play"] {
          position: relative;
          -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
          -o-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
        }
      }
  }
}

.expositores-list {
  .item {
      height: 200px;
      .inner {
          height: 100%;
          background-color: white;
          border: 2px black solid;
          box-shadow: 8px 8px 0px 0px #000000;  
          padding: 24px;
      }
  }
}

.em-breve {
  @include toRem(font-size, 32);
  color: color(primary, light);
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
  1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000, 3px 3px 0 color(secondary, base); 
  font-weight: bold      
}