.banner {
    position: relative;
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        content: '';
        background: url(img/vector-3.png) center center / cover no-repeat;
    }
    .countdown {
        margin-top: 36px;
        @media screen and (min-width: $screen-lg-min) {
            margin-left: 0;
        }
    }
    .breakingnews-group {
        @media screen and (min-width: $screen-lg-min) {
            position: absolute;
            bottom: 0;
            z-index: 1;
        }
        border-bottom: 0;
        right: 0; 
    }
    .container {
        position: relative;
        padding-bottom: 48px;
        padding-top: 48px;
        @media screen and (min-width: $screen-lg-min) {
            padding-bottom: 170px;
        }
        &[class*="reverse"] {
            .info {
                padding-right: 27%;
                padding-left: 35px;                
                @media screen and (min-width: $screen-lg-min) {
                    padding-right: 0;
                    padding-left: 0;
                    flex: 1;
                    @media screen and (min-width: $screen-xxl-min) {
                        padding-right: 155px;
                    }                    
                }
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: -77%;
                left: initial;
                background-image: url(img/vector-2.png);
                background-position: center;
                background-size:  cover;
                background-repeat: no-repeat;
                @media screen and (min-width: $screen-lg-min) {
                    right: calc(-100% + 211px);
                }
                width: 100%;
                height: 100%;
                z-index: 2;
            }            
        }
        max-width: 1024px;
        .info {
            // padding-left: 35px;
            // padding-right: 27%;
            padding-left: 27%;
            padding-right: 35px;
            @media screen and (min-width: $screen-lg-min) {
                padding-left: 35px;
                padding-right: 0;
                flex: 1;
                @media screen and (min-width: $screen-xxl-min) {
                    padding-left: 155px;
                }
            }
            width: 100%;
            flex: 0 0 auto;
        }
        .text {
            color: white
        }
        img {
            width: 100%;
            @media screen and (min-width: $screen-lg-min) {
                width: auto;
            }
        }
        .title {
            @include toRem(font-size, 22);
            margin-top: 48px;
            @media screen and (min-width: $screen-lg-min) {
                @include toRem(font-size, 50);
                margin-top: 0;
            }
            color: white;
            text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
            1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000, 3px 3px 0 color(secondary, base); 
            font-weight: bold      
        }
        * {
            position: relative;
            z-index: 3;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: -77%;
            background-image: url(img/vector-2.png);
            background-position: center;
            background-size:  cover;
            background-repeat: no-repeat;
            @media screen and (min-width: $screen-lg-min) {
                left: calc(-100% + 211px);
            }
            width: 100%;
            height: 100%;
            z-index: 2;
        }
    }
}