.video {
    border-top: 2px black solid;
    position: relative;
    border-bottom: 2px black solid;
    &-wrapper {
        background-color: color(purple, base);
        position: relative;
        border: 2px black solid;
        box-shadow: 8px 8px 0px 0px color(primary, base);
        &::before {
            content: url(img/fita.png);
            position: absolute;
            top: -20px;
            left: calc(50% - 70px);
            z-index: 2;
        }
        img {
            opacity: .5;
            z-index: 1;
        }
        .fa-play {
            position: absolute;
            z-index: 2;
            @include toRem(font-size, 42);
            color: color(primary, base);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover {
                color: color(secondary, base);
            }
        }
    }
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: url(img/vector-5.png) center center / cover no-repeat;
    }     
    .container {
        padding-top: 48px;
        padding-bottom: 48px;
        @media screen and (min-width: $screen-lg-min) {
            padding-top: 149px;
            padding-bottom: 149px;
        }
        position: relative;
        z-index: 2;
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: -77%;
            @media screen and (min-width: $screen-lg-min) {
                left: calc(-100% + 336px);
            }
            border-right: 2px black solid;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: url(img/vector-4.png) center center / cover no-repeat color(primary, base)
        }    
        &[class*="reverse"] {
            &::after {
                display: none;
                // content: '';
                // display: block;
                // position: absolute;
                // top: 0;
                // left: initial;
                // right: -77%;
                // @media screen and (min-width: $screen-lg-min) {
                //     right: calc(-100% + 336px);
                // }
                // border-right: 2px black solid;
                // width: 100%;
                // height: 100%;
                // z-index: 1;
                // background-color: color(primary, base)
            }      
            .info {
                padding-left: 0;
                padding-right: 0;
                @media screen and (min-width: $screen-lg-min) {
                    padding-right: 51px;
                }
                @media screen and (max-width: $screen-lg-min) {
                    width: 100%;
                }
            }                     
        }   
        > * {
            position: relative;
            z-index: 2;
        } 
        .title {
            @include toRem(font-size, 32);
            text-shadow: 3px 3px 0 color(secondary, base);            
            margin-bottom: 24px;
            margin-top: 48px;
            @media screen and (min-width: $screen-lg-min) {
                margin-top: 0;
            }
        }
        .text {
            font-weight: 300;
        }
        .btn {
            font-weight: bold;
        }
        .info {
            padding-left: 28%;
            @media screen and (min-width: $screen-lg-min) {
                padding-left: 51px;
            }
        }
    }
}